page-popover {


  /*
    Item
  */


  .item {
    background: $white;
    border-bottom: 1px solid $white-smoke;
    padding-left: 10px;
    margin: 0;
    height: 5.4rem;
    ion-label {
      @include h2( 13px, 400, $custom-principal-font, 0 0 0 0 );
    }
    ion-icon {
      display: inline-block;
      font-size: .85em;
    }
  }


  /*
    overwrite styles
  */


  ion-list {
    .item:last-child {
      border-bottom: none !important;
    }
  }


  /*
    Content
  */


  .scroll-content {
    padding: 0px 10px !important;
  }
  .list-md {
    margin-bottom: 0px !important;
  }
}
