<ion-header>
  <ion-navbar>
    <ion-title>Exercises</ion-title>
    <button ion-button menuToggle class="header-button">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button class="header-button">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
    <div>
      <ion-segment [(ngModel)]="type">
        <ion-segment-button value="Weight"> Weight </ion-segment-button>
        <ion-segment-button value="Aerobic"> Aerobics </ion-segment-button>
        <ion-segment-button value="Gymnastic"> Gymnastic </ion-segment-button>
      </ion-segment>
    </div>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="type">
    <ion-list *ngSwitchCase="'Weight'">
      <ion-item-sliding *ngFor="let exercise of exercises_weight">
        <ion-item (click)="exerciseTapped($event, exercise)">
          <ion-avatar item-left>
            <div class="exerciseDate">
              <span class='dateMonth left'>{{exercise.Date | date: 'MMM'}}</span>
              <span class='dateDay left'>{{exercise.Date | date: 'dd'}}</span>
              <span class='dateYear left'>{{exercise.Date | date: 'yyyy'}}</span>
            </div>
          </ion-avatar>
          <ion-label>
            <hr>
            <h2>{{exercise.Name}}</h2>
            <ion-icon name="ios-time-outline"><span class="exerciseTime">08:13</span></ion-icon>
          </ion-label>
          <ion-note item-right>
            {{exercise.Pr}}
            <span *ngIf="exercise.Unit === 'Kg'">Kg</span>
            <span *ngIf="exercise.Unit === 'Time'">Min</span>
            <span *ngIf="exercise.Unit === 'Reps'">Reps</span>
          </ion-note>
          <div class="button-effect"></div>
        </ion-item>

        <ion-item-options side="right">
          <button ion-button color="light" (click)="removeExercise(exercise)">
            <i class="fa fa-trash-o"></i>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>

    <ion-list *ngSwitchCase="'Aerobic'">
      <ion-item-sliding *ngFor="let exercise of exercises_aerobic">
        <ion-item (click)="exerciseTapped($event, exercise)">
          <ion-avatar item-left>
            <div class="exerciseDate">
              <span class='dateMonth left'>{{exercise.Date | date: 'MMM'}}</span>
              <span class='dateDay left'>{{exercise.Date | date: 'dd'}}</span>
              <span class='dateYear left'>{{exercise.Date | date: 'yyyy'}}</span>
            </div>
          </ion-avatar>
          <ion-label>
            <hr>
            <h2>{{exercise.Name}}</h2>
            <ion-icon name="ios-time-outline"><span class="exerciseTime">08:13</span></ion-icon>
          </ion-label>
          <ion-note item-right>
            {{exercise.Pr}}
            <span *ngIf="exercise.Unit === 'Kg'">Kg</span>
            <span *ngIf="exercise.Unit === 'Time'">Min</span>
            <span *ngIf="exercise.Unit === 'Reps'">Reps</span>
          </ion-note>
          <div class="button-effect"></div>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="light" (click)="removeExercise(exercise)">
            <i class="fa fa-trash-o"></i>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    
    <ion-list *ngSwitchCase="'Gymnastic'">
      <ion-item-sliding *ngFor="let exercise of exercises_gymnastic">
        <ion-item (click)="exerciseTapped($event, exercise)">
          <ion-avatar item-left>
            <div class="exerciseDate">
              <span class='dateMonth left'>{{exercise.Date | date: 'MMM'}}</span>
              <span class='dateDay left'>{{exercise.Date | date: 'dd'}}</span>
              <span class='dateYear left'>{{exercise.Date | date: 'yyyy'}}</span>
            </div>
          </ion-avatar>
          <ion-label>
            <hr>
            <h2>{{exercise.Name}}</h2>
            <ion-icon name="ios-time-outline"><span class="exerciseTime">08:13</span></ion-icon>
          </ion-label>
          <ion-note item-right>
            {{exercise.Pr}}
            <span *ngIf="exercise.Unit === 'Kg'">Kg</span>
            <span *ngIf="exercise.Unit === 'Time'">Min</span>
            <span *ngIf="exercise.Unit === 'Reps'">Reps</span>
          </ion-note>
          <div class="button-effect"></div>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button color="light" (click)="removeExercise(exercise)">
            <i class="fa fa-trash-o"></i>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>
</ion-content>
