<ion-header>
  <ion-navbar>
    <ion-title class='title'>{{exercise.Name}}</ion-title>
      <button ion-button icon-only clear (click)="dismiss()">
        <ion-icon name="md-arrow-back"></ion-icon>
      </button>
    <ion-buttons end>
      <button ion-button icon-only class="header-button" (click)="updatePr(exercise.id)">
        <ion-icon class="ok-button" name="checkmark"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="actual-title-container">
    <h2>Actual PR</h2>
  </div>
  <ion-item class="pr-container">
    <ion-avatar item-left>
      <div class="exerciseDate">
        <span class='dateMonth left'>{{exercise.Date | date: 'MMM'}}</span>
        <span class='dateDay left'>{{exercise.Date | date: 'dd'}}</span>
        <span class='dateYear left'>{{exercise.Date | date: 'yyyy'}}</span>
      </div>
    </ion-avatar>
    <ion-label>
      <hr>
      <h2>{{exercise.Name}}</h2>
      <ion-icon name="ios-time-outline"><span class="exerciseTime">08:13</span></ion-icon>
    </ion-label>
    <ion-note item-right>
      {{exercise.Pr}}
      <span *ngIf="exercise.Unit === 'Kg'">Kg</span>
      <span *ngIf="exercise.Unit === 'Time'">Min</span>
      <span *ngIf="exercise.Unit === 'Reps'">Reps</span>
    </ion-note>
    <div class="button-effect"></div>
  </ion-item>

  <form [formGroup]="newPrForm" (submit)="updatePr(exercise.id)" novalidate padding>
    <ion-item>
      <ion-label stacked>New PR {{exercise.name}}</ion-label>
      <ion-input formControlName="pr" type="pr" placeholder="Enter new PR"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Type of execerise</ion-label>
       <ion-select [(ngModel)]="selected.type" formControlName="type" placeholder="Select exercise type">
         <ion-option *ngFor="let type of types">{{type}}</ion-option>
       </ion-select>
    </ion-item>
    <ion-item>
      <ion-label stacked>Unit of execerise</ion-label>
       <ion-select [(ngModel)]="selected.unit" formControlName="unit" placeholder="Select exercise unit">
         <ion-option *ngFor="let unit of units">{{unit}}</ion-option>
       </ion-select>
    </ion-item>
  </form>
</ion-content>
