// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$neo-font-path: $font-path !default;


/*
  Neo Fonts
*/


@font-face {
  font-family: "Neo";
  font-style: normal;
  font-weight: 100;
  src: local("Neo Light"), url("#{$neo-font-path}/neo-sans-light.woff") format("woff");
}
@font-face {
  font-family: "Neo";
  font-style: normal;
  font-weight: 500;
  src: local("Neo Medium"), url("#{$neo-font-path}/neo-sans-medium.woff") format("woff");
}
@font-face {
  font-family: "Neo";
  font-style: normal;
  font-weight: 900;
  src: local("Neo Black"), url("#{$neo-font-path}/neo-sans-black.woff") format("woff");
}


/*
  Avenir
*/


@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 100;
  src: local('Avenir LT Std 35 Light'), url('#{$neo-font-path}/AvenirLTStd-Light.woff') format('woff');
}
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 200;
  src: local('Avenir LT Std 45 Book'), url('#{$neo-font-path}/AvenirLTStd-Book.woff') format('woff');
}
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 300;
  src: local('Avenir LT Std 55 Roman'), url('#{$neo-font-path}/AvenirLTStd-Roman.woff') format('woff');
}
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: local('Avenir LT Std 65 Medium'), url('#{$neo-font-path}/AvenirLTStd-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 500;
  src: local('Avenir LT Std 85 Heavy'), url('#{$neo-font-path}/AvenirLTStd-Heavy.woff') format('woff');
}
@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 600;
  src: local('Avenir LT Std 95 Black'), url('#{$neo-font-path}/AvenirLTStd-Black.woff') format('woff');
}


/*
  Mixin
*/


@mixin bar ( $background ) {
  background: $background;
}
@mixin input ( $color ) {
  color: $color;
  font-family: $custom-principal-font;
  font-weight: 500;
  font-size: 15px;
  width: 80%;
}
@mixin h2 ( $font-size, $font-weight, $font-family, $margin ) {
  font-size: $font-size;
  font-weight: $font-weight;
  font-family: $font-family;
  margin: $margin;
}


/*
  Title
*/


ion-title {
  margin-top: 0px !important;
  font-family: $custom-principal-font;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 90px 1px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: -1;
  color: $white;
}


/*
  Button
*/


.header-button {
  background: none;
  font-size: 2rem;
  color: #0ACCD8;
  margin-right: 15px;
}
.back-button {
  color:$aqua-button !important;
}


/*
  Title
*/


.toolbar-title{
  color:white !important;
  font-weight: 500;
}


/*
  Tabbar
*/


.tabbar {
  background: none !important;
  height: 45px !important;
}
.tabbar::before {
  height: 1px !important;
  background-position: 0 0;
}


/*
  Aditional
*/


.center{
  text-align: center;
}
.left {
  float: left;
}
.right{
  float: right;
}


/*
  items
*/


.item {
  padding-left: 0px;
  background: transparent;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  height: 45px;
}
.item-inner{
  border:none !important;
}


/*
  Header
*/


.header-md::after{
  background: none;
}
.header-ios .toolbar-ios:last-child .toolbar-background-ios{
  border: none;
}


/*
  Spinner
*/


.loading-md .loading-wrapper {
  background: none;
  box-shadow: none;
}
ion-backdrop {
    opacity: 0.7 !important;
}
