page-session-details{


  /*
    Toolbar
  */


  .toolbar {
    .toolbar-background {
      @include bar( $purple-gradient );
    }
  }

  ion-buttons {
    button{
      color: $aqua-button !important;
      font-size: 20px !important;
      margin-right: 10px !important;
    }
  }


  /*
    Item
  */


  .item {
    background: $white;
    padding: 0;
    margin: 0;
    h2 {
      @include h2( 20px, 400, $custom-principal-font, 12px 0 0 0 );
    }
    ion-icon {
      display: inline-block;
      font-size: .85em;
    }
    ion-label pre{
      @include h2( 14px, 200, $custom-secondary-font, 0 0 0 0 );
      line-height: 20px;
    }
  }


  /*
    overwrite styles
  */


  p {
    @include h2( 14px, 200, $custom-secondary-font, 2rem 0 0 0 );
    text-align: left;
    color: $dark-gray !important;
  }
  h2 {
    @include h2(16px, 400, $custom-principal-font, 12px 0 0 0 );
  }
  hr{
    width: 1px;
    float: left;
    height: 30px !important;
    margin-right: 15px;
    border: none;
  }
  ion-avatar{
    width: 13%;
    max-width: 90px;
    margin: 8px 15px 8px 0 !important;
  }
  ion-list {
    margin: 0px 0 16px 0 !important;

    .item:last-child {
      border-bottom: none !important;
    }
  }
  ion-note {
    margin-left: 5px;
    @include dateFormat(
      $custom-secondary-font, 17px, 100,
      $dark-gray !important, 0em, none
    );
  }
  ion-card {
    margin: 10px 0px !important;
    box-shadow: none !important;
    width: 100% !important;

    ion-card-header {
      padding: 16px 0px 0px 0px !important;

      h2{
        font-size: 16px !important;
        float: left;
       }
      button{
        float: right;
        background: none;
        border-radius: 5px;
        padding: 0px 5px;
        ion-icon{
          font-size: 2rem;
        }
      }
    }
    ion-card-content {
      padding: 0px 12px !important;
      font-weight: 100;
    }
  }


  /*
    Content
  */


  .training-container{
    margin:0 10px;

    .exerciseDate {
      span{
        width: 100%;
        text-align: center;
      }
      .dateMonth{
        padding-left: 2px;
        margin-bottom: 5px;
        @include dateFormat(
          $custom-secondary-font,
          12px, 400, $aqua-button, 0.3em, uppercase
        );
      }
      .dateDay{
        line-height: 25px;
        @include dateFormat(
          $custom-principal-font,
          30px, 500, black, 0.02em, uppercase
        );
      }
      .dateYear{
        padding: 0px 0 0 3px;
        @include dateFormat(
          $custom-secondary-font, 10px, 200,
          $dark-gray, 0.2em, uppercase
        );
      }
    }
    .block-button {
      background-color: transparent;
      font-size: 20px;
      margin: 0px !important;
      float: right;
    }
  }

  .clear{
    float:none;
    clear: both;
  }
}
