<ion-header>
  <ion-navbar>
    <ion-title>Session Details</ion-title>
    <ion-buttons end>
      <button ion-button class="header-button" (click)="presentActionSheet()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="training-container">
    <ion-item>
      <ion-avatar item-left>
        <div class="exerciseDate">
          <span class='dateMonth left'>MAR</span>
          <span class='dateDay left'>13</span>
          <span class='dateYear left'>08:00</span>
        </div>
      </ion-avatar>
      <ion-label>
        <hr>
        <h2>{{session.Title}}</h2>
      </ion-label>
      <div class="button-effect"></div>
    </ion-item>

    <div class="description-container">
      <h2>Description</h2>
      <p>{{session.Description}}</p>
    </div>

    <ion-card *ngFor="let block of blocks">
      <ion-card-header>
        <h2>{{block.Title}}</h2>
        <button item-right clear (click)='presentPopover($event, block.Id)' class="block-button">
          <ion-icon name="more" item-right></ion-icon>
        </button>
      </ion-card-header>
      <ion-card-content>
        {{block.Description}}
        <ion-list *ngFor="let part of block.Parts">
          <ion-item>
            <div><pre>{{part.Description}}</pre></div>
            <!--<button right ion-button clear small> Edit </button>
            <button right ion-button clear small> Value </button>
            <button right ion-button clear small (click)="deletePart(block.Id, part.Id)"> Delete </button>-->
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <template [ngIf]="!session?.Blocks || session.Blocks.length == 0">
      No hay bloques en la sesión
    </template>
  </div>
</ion-content>
