page-signup {


  /*
    overwrite styles
  */


  ion-input { @include input( $white ); }


  /*
    Customs Button
  */


  .image-button {
    font-size: 35px;
    color: #ffffff;
    padding: 45px;
    height: 0em;
    background: $semi-transparent;
    width: 0%;
    position: fixed;
    left: 37%;
    top: 15%;
  }


  /*
    signup
  */


  .signup-container {
    position: fixed;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 235px;
  }
  .signup-container form button {
    font-size: 25px;
    color: #ffffff;
    padding: 27px;
    height: 0em;
    border: 1px solid white;
    background: none;
    width: 0%;
    position: fixed;
    left: 40%;
    margin-top: 30px;
  }
  .signup {
    background: url('#{$image-path}/vera2.png') top center no-repeat;
    background-size: contain;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(180deg,$blue-gradient,$purple-gradient);
      opacity: .9;
    }
  }

}
