page-signup-2 {


  /*
    overwrite styles
  */


  ion-input { @include input( $white ); }
  ion-label {
    color: $white;
    font-family: $custom-principal-font;
  }
  ion-select {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    font-size: 14px;
    max-width: none;
    color: $white;
    font-family: $custom-principal-font;
    font-weight: 100;
  }
  ion-toggle{
    padding: 6px 0px 5px 16px !important;
  }
  ion-img{
    background: none;
    min-height: 35px;
  }


  /*
    items
  */


  .item-toggle{
    border: none !important;
    margin: 35px 0px 15px 0px;
  }
  .item-toggle .item-inner {
    padding-right: 0px !important;
  }


  /*
    signup
  */


  .signup2-container {
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 235px;
  }
  .signup2-container form button {
    text-transform: none;
    font-family: $custom-principal-font;
    font-weight: 500;
    font-size: 16px;
    color: $dark-gray;
    margin: 3rem 0.2rem 0.4rem 0.2rem;
    padding: 27px;
    height: 2.8em;
  }
  .signup2 {
    background: url('#{$image-path}/vera2.png') top center no-repeat;
    background-size: contain;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(180deg,$blue-gradient,$purple-gradient);
      opacity: .9;
    }
  }
  .center ion-img{
    margin-top: 20px;
  }
  .small-label{
    font-size: 11px;
  }
  .light-label{
    font-weight: 100;
    font-size: 16px;
    margin-left: 5px;
    color: white !important;
  }


  /*
    Placeholder
  */


  ::-webkit-input-placeholder {
    color:white;
    font-weight: 100;
  }

}
